// Add your custom CSS here.
@media screen and (max-width: 480px) {
.product-card__buy.fade {
opacity: 1 !important;
}
}
.product-card__buy.fade .btn{
background-color: rgb(255,20,147) !important;
}
.card-footer .minicart__btn-checkout.btn.btn-block.btn-primary {
  display: none !important;
}
