// Add your custom CSS here.
.product-card__buy.fade {
opacity: 1 !important;
}

.product-card__buy.fade .btn{
background-color: rgb(255,20,147) !important;
  border: 0px !important;
}
.card-footer .minicart__btn-checkout.btn.btn-block.btn-primary {
  display: none !important;
}
.header__toggler span {
  color: #eb4698 !important
}
/* #a-marcas {
  .menu__list {
    display: flex;
    flex-direction: column;
    a {
      border-bottom: 1px solid;
      .menu__item-icon {
        width: 3rem;
      }
      &#c-603927469332dd6865e0146f {
        order: 1
      }
      &#c-6039293b9332dd6865e016ec {
        order: 2
      }
      &#c-603aa9b19332dd6865e16628 {
        order: 3
      }
      &#c-603aaa779332dd6865e166e8 {
        order: 4
      }
      &#c-603aabb39332dd6865e16834 {
        order: 5
      }
      &#c-603ab6859332dd6865e171a4 {
        order: 6
      }
      &#c-603cd2399332dd6865e29aec {
        order: 7
      }
      &#c-603cd28f9332dd6865e29b36 {
        order: 8
      }
      &#c-603cd3019332dd6865e29b8f {
        order: 9
      }
      &#c-603cd3b29332dd6865e29bdf {
        order: 10
      }
      &#c-603cd4309332dd6865e29c12 {
        order: 11
      }
      &#c-603cd50c9332dd6865e29c6f {
        order: 12
      }
      &#c-603cd6b99332dd6865e29d10 {
        order: 13
      }
      &#c-603cd8fe9332dd6865e29e46, &#c-6112ed5533f3ce442f88e245 {
        order: 14
      }
      &#c-603cd9989332dd6865e29e8e {
        order: 15
      }
      &#c-603cda3c9332dd6865e29ee7 {
        order: 16
      }
      &#c-603cda999332dd6865e29f26, &#c-60feb51a8469e23b8b739de6 {
        order: 17
      }
      &#c-603d2601e04bb619ee4b2b57 {
        order: 18
      }
      &#c-604637496d50911b605778e6 {
        order: 19;
      }
      &#c-603d2880e04bb619ee4b2ecf {
        order: 20
      }
      &#c-603d28f3e04bb619ee4b2f65 {
        order: 21
      }
      &#c-603d2ab0e04bb619ee4b31ad {
        order: 22
      }
      &#c-603d2b97e04bb619ee4b32f2 {
        order: 23
      }
      &#c-603d2cf3e04bb619ee4b3612 {
        order: 24
      }
      &#c-603d2d5ae04bb619ee4b36dc {
        order: 25
      }
      &#c-603d2dcfe04bb619ee4b37d3 {
        order: 26
      }
      &#c-603d2ed3e04bb619ee4b39b7 {
        order: 27
      }
      &#c-603d2f82e04bb619ee4b3a8e {
        order: 28
      }
      &#c-603d3020e04bb619ee4b3b7e {
        order: 29
      }
      &#c-603d4574e04bb619ee4b5c69 {
        order: 30
      }
      &#c-603d4608e04bb619ee4b5d4b {
        order: 31
      }
      &#c-603d46e0e04bb619ee4b5ea4 {
        order: 32
      }
      &#c-603d47d6e04bb619ee4b6047 {
        order: 33
      }
      &#c-603d4932e04bb619ee4b6251, &#c-60cb3fdad24de4526fa78a46 {
        order: 34;
      }
      &#c-603d49fee04bb619ee4b6361 {
        order: 35
      }
      &#c-603d4aeae04bb619ee4b648f {
        order: 36
      }
      &#c-603d4b85e04bb619ee4b658e {
        order: 37
      }
      &#c-603d4d2de04bb619ee4b677f {
        order: 38
      }
      &#c-603d4dcbe04bb619ee4b682d {
        order: 39
      }
      &#c-603d4ecbe04bb619ee4b6973 {
        order: 40
      }
      &#c-603d2e2ce04bb619ee4b38a7 {
        order: 27
      }
      &#c-603cedb49332dd6865e2b1dc {
        order: 18
      }
    }
  }
}
*/
.product-card__name,
.product-card__prices,
.prices__compare,
.prices__value,
.prices__installments {
  color: #000;
}
.breadcrumb-item {
  i, span, a {
    color: #a0a4a7
  }
}
.pagination li a {
  background-color: #fff !important;
  color: #000 !important;
  border: none;
}
.pagination .page-item.active .page-link {
  border: 1px solid #000 !important;
  background-color: #fff !important;
  color: #000;
  border-radius: 20px;
}
.page-item.disabled .page-link {
  background-color: #fff;
  border: none;
  color: #000
}
@media(max-width: 767px) {
  .pagination.mr-2 {
    display: none !important;
  }
  .pagination.d-none.d-lg-flex {
    display: flex !important;
  }
}
@media(min-width: 767px) {
.shipping-calculator__option .shipping-line {
  max-width: 50%

}
.shipping-calculator__option small {
  display: flex;
  justify-content: flex-end;
  max-width: 50%;
  line-height: 2
}  
}
.menu {
  &__list {
    a {
      color: #eb4698;
      &:hover {
        background: #eb4698;
        color: #fff
      }
    }
  }
  &__btn.btn.collapsed i, .menu__btn--close i {
    &:hover {
      color: #eb4698
    }
  }
}

.product-card__offer-stamp {
background-color: #000 !important;
}
.products-carousel__item {
border: 1px solid
}
@media (max-width: 992px) {
  #search-bar {
    display: block !important;
    transition: none;
    height: 46px !important;
    .header__search {
      margin-top: .5rem;
    }
  }
}

.product-card {
  .quantity-selector__btn-container {
    min-width: unset;
    margin-top: 10px;
  }
  .quantity-selector__input {
    max-width: unset;
    min-width: 60%;
  }
  button {
    min-width: 20%;
  }
  .i-chevron-down::before {
    content: '-';
    font-size: 25px;
  }
  .i-chevron-up::before {
    content: '+';
    font-size: 25px;
  }
  @media(max-width: 576.99px) {
    .quantity-selector__input {
      min-width: 40%;
      max-width: 50%;
    }
    button {
      min-width: 25%;
    }
    .i-chevron-down::before {
      font-size: 25px;
    }
    .i-chevron-up::before {
      font-size: 25px;
    }
  }
}


.popup_add{
  z-index:9999;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: #fff;
  padding: 2rem;
  width: 600px;
  box-shadow: 0px 0px 30px rgba(0,0,0,.2);
  border-radius: 10px;
  strong{
    display: block;
    text-align: center;
    color: #000;
    margin: 1rem 0 0.5rem 0;
    font-size: var(--h5);
  }
  b{}
  .close{
    position: absolute; 
    right: 15px;
    top: 15px;
    height: 24px;
    width: 24px;
  }
  .close:before,
  .close:after{
    height: 1px;
    width: 100%;
    rotate: 45deg;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    content: "";
  }
  .close:after{rotate: -45deg;}
  a{}
  button{}
  .functions{
    a,
    button{
      border:1px solid;
      font-weight: bold;
      background: var(--primary);
      width: 100%;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a{
      background: #f2f2f2;
      border: 0;
      color: #666;
    }
  }
  .check{
    position: absolute;
    left: 50%;
    top: -25px;
    background: #fc2792;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    font-size: 22px;
    border: 5px solid #fff;
    box-sizing: border-box;
    translate: -50% 0;
    i{}
  }
  p{
    display: block;
    text-align: center;
  }
  .aviso{
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
    color: #29909F;
    font-size: 14px;
    max-width: 100%;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .aviso.freeShipping{color: #fc2792;font-size: 16px;}
  .align-items-center{justify-content: center;align-items: center;}
}

.product-card__offer-stamp{
  line-height: initial;
  height: 44px;
  min-width: 0!important;
  width: 44px;
  border-radius: 50%!important;
  box-shadow: 0px 0px 0px 2px #000;
  border: 1px solid #fff;
  font-weight: bold;
  padding: 8px;
  font-size: 11px;
  top: 10px;
  right: 10px;
  .i-arrow-down{display:none}
}
.product-card__offer-stamp:after{
  content:"OFF";
  display: block;
}

@media(max-width:990px){
  .popup_add{
    max-width: 90%;
    .functions{
      a{margin-top: 1rem;}
    }
  }
}
.product-barcode {
  font-size: 14px;
  font-family: 'Marcellus', serif;
  margin-top: 10px;
}
